section.guarantee
  .container
    .guarantee__container
      h2.guarantee__heading Мой опыт — ваша гарантия качественных услуг доставки
      p.guarantee__text.
        Будем знакомы — #[b Владислав Каткаев],
        основатель курьерской службы Dostaver,
        лично контролирую работу курьеров.
      .guarantee__abouts
        .guarantee__photo
          img(src="img/photo-founder.jpg" alt="Основатель курьерской службы Dostaver" width="309" height="320")
        .guarantee__about-founder.guarantee__about-founder--experience
          p
            b 6 лет
            | с 2016 работаю в сфере курьерских доставок
        .guarantee__about-founder.guarantee__about-founder--parcels
          p
            b 4000+
            | доставил минимум 4000 разных посылок
        .guarantee__about-founder.guarantee__about-founder--people
          p
            b 12
            | собрал команду из 12 курьеров (пешие + авто)
        .guarantee__about-founder.guarantee__about-founder--reviews
          p
            b 2700+
            | клиентов из YouDo оценили мою работу на 5 по статистике за 3 года работы — с 2019 по 2021
          img(src="img/reviews.jpg" alt="Выполнил 2788 заданий. Средняя оценка: 5.0 (2731 отзыв)" width="302" height="145")
          a(href="#") Посмотреть профиль
