section.information
  .container
    .information__container
      h2.information__heading Важная информация
      ul.information__list
        li.information__item
          p.information__text.
            на каждом чеке #[b в графе «продавец» будет напечатано название вашего юр. лица],
             в том числе и на цифровых чеках в онлайн ОФД
        li.information__item
          p.information__text.
            #[b на следующий день] после доставок мы #[b переводим] на ваш расчётный счёт всю выручку:
            наличные оплаты и оплаты по терминалу
        li.information__item
          p.information__text стоимость кассового обслуживания #[strong 0,7% от суммы чека]
        li.information__item
          p.information__text стоимость эквайринга #[strong 1,7% от суммы чека]
        li.information__item
          p.information__text оплата за страховой сбор #[strong 0,5% от объявленной ценности]
