section.legally
  .container
    .legally__container
      h2.legally__heading Работая с нами, вы на 100 % соблюдаете 54-&nbsp;ФЗ
      p.legally__text Курьеры Dostaver не ограничены лишь наличным методом приёма выручки.
      p.legally__text Каждый курьер имеет при себе мобильный #[strong терминал aQsi 5] со встроенным эквайрингом.
      p.legally__text Ваши клиенты могут по факту оплачивать заказ картой и получать бумажный кассовый чек.
      form.legally__feedback.feedback(action="")
        input.feedback__input(type="tel" name="tel" placeholder="Введите номер телефона")
        button.feedback__button(type="submit") Обсудить сотрудничество
        label.feedback__privacy-policy
          input.feedback__input-checkbox#privacy-policy(type="checkbox" name="privacy-policy")
          span.feedback__checkbox
          span Я согласен с
            a(href="#") политикой конфиденциальности
