section.pricelist
  .pricelist__container
    h2.pricelist__heading Стоимость курьерских услуг
    p.pricelist__text Вес и стоимость в таблице указаны для одной доставки
    table.pricelist__table
      thead.pricelist__thead
        tr
          th Доставок в день
          th от 51
          th до 50
          th до 25
          th до 10
      tbody
        tr.pricelist__col-1
          td Вес, до
          td
          td
          td
          td
        tr.pricelist__col-2
          td 1 кг.
          td 180
          td 200
          td 220
          td 240
        tr.pricelist__col-3
          td 3 кг.
          td 200
          td 220
          td 240
          td 260
        tr.pricelist__col-4
          td 5 кг.
          td 220
          td 240
          td 260
          td 280
        tr.pricelist__col-5
          td 10 кг.
          td 270
          td 290
          td 310
          td 330
        tr.pricelist__col-6
          td 15 кг.
          td 350
          td 390
          td 410
          td 430
        t.pricelist__col-7
          td 20 кг.
          td 400
          td 430
          td 470
          td 490
        tr.pricelist__col-8
          td Забор товара
          td 0
          td 0
          td 0
          td 290
