section.processes
  .processes__container
    h2.processes__heading Организация процессов без лишней бюрократии
    p.processes__desc Быстро. Удобно. Понятно
    ul.processes__list
      li.processes__item
        .processes__header
          span.processes__number 1
          h3.processes__name Отправьте нам запрос на доставку товаров
        .processes__texts
          p.
            Сообщите нам, что вы хотите заказать услуги
            курьерской доставки, чтобы наш курьер забрал
            ваши посылки вечером в тот же день.
          p.
            Связаться с нами вы можете любым удобным способом:
            позвонить, написать в мессенджер, отправить e-mail.
      li.processes__item
        .processes__header
          span.processes__number 2
          h3.processes__name Подготовьте посылки и передайте курьеру
        .processes__texts
          p.
            Подготовьте ваши посылки до приезда курьера.
          p.
            Заказы должны быть упакованы в герметичный пакет или коробку.
          p.
            Курьер приедет за посылкой в удобный
            3-часовой интервал в рамках времени #[strong с 16:00 до 22:00].
      li.processes__item
        .processes__header
          span.processes__number 3
          h3.processes__name На следующий день развезем посылки в указанное время
        .processes__texts
          p.
            Мы развозим заказы в указанный 3-часовой
            интервал в рамках времени #[strong с 8:00 до 22:00].
          p Перед выездом на адрес курьер всегда звонит клиенту.
      li.processes__item
        .processes__header
          span.processes__number 4
          h3.processes__name Получите от нас вырчку с доставок и отчет
        .processes__texts
          p.
            На следующий день после доставки заказов мы
            отправим вам подробный отчёт.
        a.processes__link(href="#") Пример отчета
    a.processes__more(href="#") Подробнее
