section.promo
  .container
    .promo__container
      h1.promo__heading Курьерская доставка
        div для интернет-магазинов в пределах Москвы и МО
      p.promo__description.
        Обеспечим вашему бизнесу доставку точно в
        срок и с удобной возможностью оплаты заказов
        для вас и ваших клиентов
      //- form.promo__form(action="")
      //-   input(type="tel" name="tel" placeholder="Введите номер телефона")
      //-   button(type="submit")
