section.promo
  .container
    .promo__container
      h1.promo__heading
        div Курьерская доставка
        div для <span class="promo__heading-text-stroke">интернет-магазинов</span> в пределах Москвы и МО
      p.promo__description.
        Обеспечим вашему бизнесу доставку точно в
        срок и с удобной возможностью оплаты заказов
        для вас и ваших клиентов
      form.promo__feedback.feedback(action="")
        input.feedback__input(type="tel" name="tel" placeholder="Введите номер телефона")
        button.feedback__button(type="submit") Перезвоните мне
        label.feedback__privacy-policy
          input.feedback__input-checkbox#privacy-policy(type="checkbox" name="privacy-policy")
          span.feedback__checkbox
          span Я согласен с 
            a(href="#") политикой конфиденциальности
      .promo__deadline
        .promo__deadline-circle
          strong 97%
          span заказов
        p.promo__deadline-description доставили <strong>вовремя</strong> в декабре&nbsp;2021
