section.status
  .container
    .status__container
      h2.status__heading Ваши клиенты будут в курсе о статусе своих доставок
      p.status__text.
        Вашим менеджерам не придётся заниматься дополнительной работой и отвечать всем клиентам, когда они получат свои посылки.
        #[b Информирование мы полностью берём на себя.]
        Связываемся с вами только в случае необходимости, если клиент не выходит на связь
      ul.status__list
        li.status__item.status__item__phone
          h3.status__name Звоним заранее
          p.status__desc Курьер всегда заранее звонит клиенту. Если ответа нет, с клиентом пытается связаться наш менеджер.
        li.status__item.status__item__notification
          h3.status__name Сообщаем вам
          p.status__desc Если и у менеджера не получилось дозвониться клиенту, мы обязательно сообщаем об этом вам.
        li.status__item.status__item__delivery
          h3.status__name Доставка без связи
          p.status__desc Курьер может поехать на доставку несмотря на отсутствие связи с клиентом, если вы так решите.

