.promo {
  padding-bottom: rem(284px);
  margin-bottom: rem(38px);
  // background: url("../img/decors/promo-warehouse--mobile.svg") no-repeat right bottom / 83% auto,
  //   url("../img/decors/cloud.svg") no-repeat left rem(37px) bottom rem(228px) / 23% auto,
  //   url("../img/decors/plus.svg") no-repeat left rem(57px) bottom rem(360px) / 4% auto,
  //   url("../img/decors/plus.svg") no-repeat right rem(55px) bottom rem(390px) / 4% auto;
  //
  //@media (min-width: $tablet-width) {
  // background: url("../img/decors/promo-warehouse--tablet.svg") no-repeat right bottom / 83% auto,
  //   url("../img/decors/cloud.svg") no-repeat left rem(37px) bottom rem(228px) / 23% auto,
  //   url("../img/decors/plus.svg") no-repeat left rem(57px) bottom rem(360px) / 4% auto,
  //   url("../img/decors/plus.svg") no-repeat right rem(55px) bottom rem(390px) / 4% auto;
  // }
}

.promo__container {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.promo__heading {
  margin: rem(0 0 19px);

  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 500;
  text-align: center;

  div {
    font-size: rem(48px);
    line-height: 1;
    margin-bottom: 7px;
  }

  div:nth-child(2) {
    width: 96%;
    margin: 0 auto;

    font-size: rem(24px);
    line-height: rem(31px);
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    div {
      font-size: rem(72px);
      line-height: rem(66px);
    }

    div:nth-child(2) {
      width: 100%;
      font-size: rem(42px);
      line-height: rem(58px);
    }
  }
}

.promo__heading-text-stroke {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: rem(238px);
    height: rem(33px);

    background: url("../img/decors/promo-text-stroke--mobile.svg") no-repeat;
    background-size: rem(238px 33px);

    @media (min-width: $desktop-width) {
      width: rem(415px);
      height: rem(64px);

      background-size: rem(414px 64px);
    }
  }
}

.promo__description {
  position: relative;
  width: 92%;
  margin: rem(0 auto 32px);

  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(24px);
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    right: rem(9px);
    bottom: rem(-6px);
    width: rem(14px);
    height: rem(14px);

    background-image: url("../img/decors/plus.svg");
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    width: 64%;

    font-size: rem(20px);
    line-height: rem(32px);
  }
}

.promo__feedback {
  margin-bottom: rem(20px);
}

.promo__deadline-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: rem(0 auto 9px);
  width: rem(128px);
  height: rem(128px);

  background: $white;
  border-radius: 50%;

  font-size: rem(18px);
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: $dark-purple;

  strong {
    margin-bottom: rem(9px);
    font-weight: 400;
    font-size: rem(36px);
    font-style: normal;
  }

  span {
    margin-top: -10px;
  }
}

.promo__deadline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: rem(111px);
    left: rem(28px);
    width: rem(14px);
    height: rem(14px);

    background-image: url("../img/decors/plus.svg");
    background-size: cover;
  }

  &::before {
    content: "";
    position: absolute;
    top: rem(51px);
    right: rem(26px);
    width: rem(14px);
    height: rem(14px);

    background-image: url("../img/decors/plus.svg");
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: rem(157px);
    left: rem(43px);

    transform: rotate(-21.24deg);
  }
}

.promo__deadline-description {
  width: 48%;
  margin: 0 auto;

  font-size: rem(14px);
  line-height: rem(17px);
  font-weight: 400;
  text-align: center;

  strong {
    font-weight: 600;
  }

  @media (min-width: $desktop-width) {
    width: rem(136px);
  }
}
