nav.main-nav
  button.main-nav__button-close
  ul.main-nav__list
    li.main-nav__item
      a.main-nav__link(href="#") Правила
    li.main-nav__item
      a.main-nav__link(href="#") Тарифы
    li.main-nav__item
      a.main-nav__link(href="#") Контакты
