.contacts
  .contacts__number
    a(href="tel:+74994084770") +7 499 408 47 70
    p.contacts__schedule ежедневно с #[span 08:00] до #[span 20:00]
  ul.contacts__socials
    li.contacts__socials-item.contacts__socials-item--whatsapp
      a(href="#")
        span.visually-hidden Написать в Whatsapp
    li.contacts__socials-item.contacts__socials-item--telegram
      a(href="#")
        span.visually-hidden Написать в Telegram
